@model DistributedPatientHealthCareSystem.DPHCSModels.Patient

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatientNavigation.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientNavigation.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatientNavigation.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientNavigation.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatientNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientNavigation.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PatientId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
