@model IEnumerable<DistributedPatientHealthCareSystem.DPHCSModels.Patient>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

@if (User.IsInRole("Receptionist")) {
    <p style="margin-top:3%">
        <a class="btn btn-primary btn-sm" asp-action="Create"><i class="fa fa-plus"></i> Add new Patient</a>
    </p>
 }


<table class="table" style="margin-top:3%">
    <thead>
        <tr>
     
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientNavigation.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientNavigation.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientNavigation.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientNavigation.Mobile)
            </th>
              
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientNavigation.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientNavigation.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientNavigation.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientNavigation.Mobile)
            </td>
          
            
            <td>
                @{
                    if (User.IsInRole("Receptionist"))
                    {
                       <a asp-action="Edit" asp-route-id="@item.PatientId">Edit</a> 
                        <a asp-action="Details" asp-route-id="@item.PatientId">Details</a> 
                        <a asp-action="Delete" asp-route-id="@item.PatientId">Delete</a> 
                     }
                    @if (User.IsInRole("Doctor"))
                    {
                        <a asp-controller="HealthRecord" asp-action="Index" asp-route-id="@item.PatientId">Health Record</a>
                    }
                }
               
            </td>
        </tr>
}
    </tbody>
</table>
