@model IEnumerable<DistributedPatientHealthCareSystem.DPHCSModels.PatientHealthRecord>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hospital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorEmployee.JoinDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.RegDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HealthRecordId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HealthRecordId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HealthRecordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
